header {
  background-color: #333333;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
body {
  font-family: sans-serif;
  margin: 0px;
}
.nav {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 10px;
}
.nav a {
  padding: 10px 20px;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}
.nav a.active {
  background-color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid blue;
}
.main {
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right:20px;
}
footer {
  background-color: #f1f1f1;
  color: #333333;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
  border-top: 1px solid #cccccc;
}