<%- include("settings/header") %>

      <a href="index">TOP</a>
      <a href="my">自己紹介</a>
      <a href="projects">作品</a>
      <a href="contact">連絡先</a>
      <a href="updates">更新履歴</a>
      <a href="beforeBreak">履歴破壊</a>
      <a href="constructing" class="active">建設中</a>
    </div>

    <div class="main">
      <h1>建設中</h1>
      <p>このページは建設中です。完成までしばらくお待ちください。</p>
    </div>

<%- include("settings/footer") %>