<%- include("settings/header") %>

      <a href="index" class="active">TOP</a>
      <a href="my">自己紹介</a>
      <a href="projects">作品</a>
      <a href="contact">連絡先</a>
      <a href="updates">更新履歴</a>
      <a href="beforeBreak">履歴破壊</a>
    </div>

    <div class="main">
      <div class="a00">
        <h1>_tonkatsu_ / tonkatsu0211のページへようこそ!!</h1>
        <button class="normalButton" onclick="location.href='index'">ページを更新</button>
      </div>
      <p>
        このページは_tonkatsu_(tonkatsu0211)が勝手にいろいろ書いてるページです。
      </p>
      <p>上のタブか下のボタンから各ページに移動できます。</p>
      <h2>
        <button onclick="location.href='my'" class="blueButton30">
          自己紹介
        </button>
      </h2>
      <h2>
        <button onclick="location.href='projects'" class="blueButton30">
          作品
        </button>
      </h2>
      <h2>
        <button onclick="location.href='contact'" class="blueButton30">
          連絡先
        </button>
      </h2>
      <h2>
        <button onclick="location.href='updates'" class="blueButton30">
          更新履歴
        </button>
      </h2>
      <h2>
        <button onclick="location.href='beforeBreak'" class="warnButton">
          履歴破壊
        </button>
      </h2>
    </div>

<%- include("settings/footer") %>