<%- include("settings/header") %>
<%- include("settings/nav") %>

    <div class="main">
      <div class="a00">
        <h1>作品</h1>
        <button class="normalButton" onclick="location.href='projects'">
          ページを更新
        </button>
      </div>
      <div class="project1">
        <h2>【京急】京急パタパタ再現 V1.0.1</h2>
        <p class="option-left10-underline">2025/6/5公開 2025/6/9追加</p>
        <img
          src="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/patapata.png?v=1749449611231"
          width="500"
        />
        <p>
          京急青物横丁駅に設置されているデジタルパタパタを再現しています!
          turbowarpを使ってフレームレートを変更することで回転速度を調整できます!
        </p>
        <p>
          1段を1スプライトに収めているため、簡単な改造で他のプロジェクトに追加したり、上りと下り3段づつで6段にすることもできます!
        </p>
        <p>
          さらに、もちろん表示内容のカスタマイズも可能!
          ウソ電を作って楽しむもよし、実際の時刻表と同じ内容を表示して駅員ごっこ(?)をするもよし!
        </p>
        <h2>
          <button
            class="scratchButton"
            onclick="window.open('https://scratch.mit.edu/projects/1181550198', '_blank')"
          >
            Scratchでプレイ
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://turbowarp.org/1181550198?fps=60&interpolate', '_blank')"
          >
            2倍速でプレイ(Turbowarp)
          </button>
        </h2>
        <h2>
          <button
            class="turbowarpButton"
            onclick="window.open('https://mirror.turbowarp.xyz/?fps=60&interpolate#1181550198', '_blank')"
          >
            2倍速でプレイ(ミラーTurbowarp)
          </button>
        </h2>
      </div>
    </div>
    
<%- include("settings/footer") %>