<%- include("settings/header") %>
<%- include("settings/nav") %>

    <div class="main">
      <div class="a00">
        <h1>更新履歴</h1>
        <button class="normalButton" onclick="location.href='updates'">
          ページを更新
        </button>
      </div>
      <p>
        2025/6/11 V1.0.2 URL改良、履歴破壊を5系統の別サイト運用に変更、フッターとヘッダーを1ファイルで共通化
      </p>
      <p>
        2025/6/10 V1.0.1
        フッターおよびヘッダー調整、履歴破壊プログラム、トップページ、404ページ追加、ページ更新ボタン追加
      </p>
      <p>2025/6/9 V1.0.0 公開</p>
    </div>

    <p class="option-noUnderline">※情報更新は含まない</p>

<%- include("settings/footer") %>