<%- include("settings/header") %>
<%- include("settings/nav") %>

    <div class="main">
      <img
        src="https://cdn.glitch.global/76a1f4d2-2815-4fbf-afcd-888d6db7e806/Not Found.png?v=1749532095238"
        width="1000"
      />
      <h1 id="text">このページはURLが変更されたか存在しません。</h1>
      <h3 id="error"></h3>
      <h3 id="hiddenErrorText">
        あなた、意図的にこのサイトにアクセスしたか404のタブをクリックしましたね?ご褒美に履歴を404で埋め尽くしてあげます。
      </h3>
      <h2>
        <button onclick="location.href='index'" class="blueButton30">
          トップページに戻る
        </button>
      </h2>
    </div>

<%- include("settings/footer") %>