<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
      <p>
        下のボタンを押すと書いてあるゲームをプレイできます。
      </p>
      <h2>
        <button onclick="location.href='/snow'" class="blueButton30">
          snowball.ioをプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/stickman'" class="blueButton30">
          stickman hookをプレイ
        </button>
      </h2>
      <p>
        クレジット
      </p>
      <p>
        snowball.io: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/snow"
                    target="_blank">
                      https://cottony-accidental-screwdriver.glitch.me/game1/snow
                  </a>
      </p>
      <p>
        stickman hook: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/stickman"
                    target="_blank">
                      https://cottony-accidental-screwdriver.glitch.me/game1/stickman
                  </a>
      </p>
    </div>

<%- include("settings/footer") %>