<%- include("settings/header") %>
<%- include("settings/top") %>

      <p style="font-size: 20px;">現在メンテナンス中です。完了までしばらくお待ちください。</p>
    </div>
  
  <script>
    document.getElementById("reloadButton").style.display = "none";
  </script>

<%- include("settings/footer") %>