<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
      <p>
        下のボタンを押すと書いてあるゲームをプレイできます。
      </p>
      <p style="color: #ff0000 !important; font-size: 15px; font-weight: bold;">
        ※snowball.io以外はデータが保存されません。
      </p>
      <h2>
        <button onclick="window.open('/games/snow', '_blank')" class="blueButton30">
          snowball.io をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="window.open('/games/stickmanhook', '_blank')" class="blueButton30">
          stickman hook をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="window.open('/games/pingpong', '_blank')" class="blueButton30">
          Ping-Pong PvP をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="window.open('/games/mining', '_blank')" class="blueButton30">
          Idle mining をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/stickmanboost'" class="blueButton30">
          Stickman Boost をプレイ
        </button>
      </h2>
      <h2>
        <button onclick="location.href='/games/99balls'" class="blueButton30">
          99 Balls Evo をプレイ
        </button>
      </h2>
      <p>
        クレジット
      </p>
      <p>
        snowball.io: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/snow"
                        target="_blank">
                       https://cottony-accidental-screwdriver.glitch.me/game1/snow/
                     </a>
      </p>
      <p>
        stickman hook: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/stickman"
                          target="_blank">
                         https://cottony-accidental-screwdriver.glitch.me/game1/stickman/
                       </a>,
          <a href="https://precious-zippy-coriander.glitch.me/"
             target="_blank">
            https://precious-zippy-coriander.glitch.me/
          </a>
      </p>
      <p>
        Ping-Pong PvP: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/pingpong"
                          taeget="_blank">
                         https://cottony-accidental-screwdriver.glitch.me/game1/pingpong/
                       </a>
      </p>
      <p>
        Idle mining: <a href="https://cottony-accidental-screwdriver.glitch.me/game1/mining"
                        taeget="_blank">
                       https://cottony-accidental-screwdriver.glitch.me/game1/mining/
                     </a>,
        <a href="https://melted-hail-kosmoceratops.glitch.me/"
           target="_blank">
          https://melted-hail-kosmoceratops.glitch.me/
        </a>
      </p>
      <p>
        Stickman Boost: <a href="https://english.global.ssl.fastly.net/stickman-boost/"
                        taeget="_blank">
                       https://english.global.ssl.fastly.net/stickman-boost/
                     </a>
      </p>
      <p>
        99 Balls Evo: <a href="https://english.global.ssl.fastly.net/99balls/"
                        taeget="_blank">
                       https://english.global.ssl.fastly.net/99balls/
                     </a>
      </p>
    </div>

<%- include("settings/footer") %>