<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
  <p>
    ※利用規約と言っても、ただのルール的なものです
  </p>
  <br>
  <br>
  <p>
    1. <a href="https://tonkatsu0211.glitch.me/chat" target="_blank">https://tonkatsu0211.glitch.me/chat</a>のチャット(以下　当チャット)は、_tonkatsu_が運営・管理し、利用者同士の交流を深めるためのコミュニケーションツールです。
  </p>
  <p>
    2. 以下の行為は禁止します。
  </p>
  <p style="padding-left: 20px;">
    い チャットを1秒間に3個以上送信すること。
  </p>
  <p style="padding-left: 20px;">
    ろ 外部ツールやデベロッパーツールなどを使って当チャットを改変し、制限を超えた文字数のチャットを送ること。
  </p>
  <p>
    は 
  </p>
  </div>
  
  
<%- include("settings/footer") %>