<%- include("settings/header") %>
<%- include("settings/nav") %>
<%- include("settings/top") %>
  
  <p>
    ※利用規約と言っても、ただのルール的なものです
  </p>
  <br>
  <br>
  <p>
    第1条 <a href="https://tonkatsu0211.glitch.me/chat" target="_blank" style="color: #000000;">https://tonkatsu0211.glitch.me/chat</a>のチャット(以下　当チャット)は、_tonkatsu_が運営・管理し、利用者同士の交流を深めるためのコミュニケーションツールです。
  </p>
  <p>
    第2条 以下の行為は禁止し、もし確認された場合はアカウント削除などの対応を行います。
  </p>
  <p style="padding-left: 20px;">
    い チャットを1秒間に3個以上送信すること。
  </p>
  <p style="padding-left: 20px;">
    ろ 外部ツールやデベロッパーツールなどを使って当チャットを改変し、制限を超えた文字数のチャットを送ること。
  </p>
  <p style="padding-left: 20px;">
    は 過度に公序良俗に反したチャットを送信すること(適度であれば構わない)。
  </p>
  <p style="padding-left: 20px;">
    に 特定のユーザーへの誹謗中傷や過度な批判、程度を超えた論争を行うこと。
  </p>
  <p style="padding-left: 20px;">
    ほ 管理者権限を持つユーザーが職権濫用を行い、過度な対応を行うこと。
  </p>
  <p style="padding-left: 20px;m">
    へ _tonkatsu_(以下　製作者)が認めた場合を除き、個人が2つ以上のアカウントを作成、使用すること
  </p>
  <p style="padding-left: 20px;">
    と 何らかの方法で当チャットを改変し、サインアップ時の入力データ(以下　ユーザーデータ)やチャットの送信履歴データ(以下　チャットデータ)を破壊・閲覧・複製・共有・ダウンロードを行うこと。
  </p>
  <p style="padding-left: 20px;">
    ち 他ユーザーが作成したアカウントにログインすること。
  </p>
  <p>
    第3条 当チャットは、ユーザーデータやチャットデータを当チャットの運営・管理のみに使用します。
  </p>
  <p>
    第4条 第2条の違反行為を発見した場合は、製作者に報告を行なうこと。
  </p>
  </div>
  
  
<%- include("settings/footer") %>