<div class="main">
  <div class="a00">
    <h1><%= top %></h1>
    <button class="normalButton" onclick="console.log('reload on /<%= page %>'); setTimeout(() => location.reload(), 100);">ページを再読み込み</button>
  </div>