<div class="main">
  <div class="a00">
    <h1><%= top %></h1>
    <button class="normalButton" onclick="location.href='/<%= page === "index" ? "/" : page %>' + location.search">ページを再読み込み</button>
  </div>